<footer>
    <div class="narrow">
        <h2 class="footer-heading">
            <a href="{{ '/' | relative_url }}">
                {{ site.title }}<br>
                <small>Modelling and visualization of dynamically interacting legal systems</small>
            </a>
        </h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p><a href="{{ '/accessibility-statement/' | relative_url }}">Accessibility Statement</a></p>

                <ul class="social-media-list">
                    <li><a href="https://github.com/kingsdigitallab/tcl"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">kingsdigitallab/tcl</span></a></li>
                    <li><a href="https://www.twitter.com/kingsdigitallab"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">kingsdigitallab</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>