---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "tcl-minima";
@import "fonts";

/* Variables */

$dark_grey: #333;
$light_grey: #666;

/* Globals */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

button {
  border: 1px solid #fff;
  color: #fff;
  padding: 8px;

  &:hover {
    background: #336699;
    cursor: pointer;
  }
}

.collapse {
  background: $light_grey;
}

.expand {
  background: $dark_grey;
}

header,
main,
footer {
    padding: 1rem;
}

.hide {
  display: none;
}

/* Icons */

main {
  i,
  .icon {
    font-family: "FontAwesome" !important;
  }

  .icon {
    font-size: 24px !important;
  }
}


/* Navigation */

.menu {
    list-style: none;

    li {
        display: inline-block;
    }
}

/* Main */

.post-header {
  margin-bottom: 0;
}

/* Social media */

.social-media-list {
    .svg-icon,
    .username {
        display: inline-block;
        height: 16px;
        width: 24px;
    }
}

/* Footer */

footer {
    border-top: 1px solid $grey-color-light;
}

/* Visualisation specific */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.tooltip {
  background: lightsteelblue;
  display: block;
  height: auto;
  // overflow: scroll;
  padding: 10px;
  position: fixed;
  width: 250px;
}
