<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Taming the Complexity of the Law</title>
    <meta name="description" content="">

    <link type="text/plain" rel="author" href="{{ '/humans.txt' | relative_url }}">

    <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | relative_url }}">

    <!-- Set canonica url (main site absoulte url), once it's live -->
    <!-- <link rel="canonical" href=""> -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/fontawesome/css/fontawesome.min.css' | relative_url }}">
</head>
<body>
    {%- include header.html -%}

    <main>
        {{ content }}
    </main>

    {%- include footer.html -%}

    <script type="text/javascript" src="{{ '/assets/vendor/jquery/dist/jquery.min.js' | relative_url }}"></script>
    <!-- FontAwesome -->

    <script src="{{ '/assets/vendor/fontawesome/js/fontawesome.min.js' | relative_url }}"></script>
    <!-- <script type="text/javascript" src="/assets/vendor/d3/d3.min.js"></script> -->
    <!-- D3 v4 -->
    <script src="//d3js.org/d3.v4.min.js"></script>

    
    <script type="text/javascript" src="{{ '/assets/js/app.js' | relative_url }}"></script>

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67707155-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-67707155-7');
    </script>
</body>
</html>